@each $pic in $pics {
  .ic-#{$pic}::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(../images/ic-#{$pic}.png) 50% no-repeat;
    background-size: cover;
    display: block;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
  }
}

.content {
  padding-top: 20px;

  @include md {
    padding-left: 110px;
  }


  &-span {
    text-transform: uppercase;
    position: relative;
    display: block;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;

    &:before {
      content: '';
      position: absolute;
      width: 52px;
      height: 1px;
      background: $baseColor;
      top: 50%;
      left: -80px;
    }
  }

  &-title {
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  &-about {
    margin-bottom: 50px;
    &-block {
      background: #fff;
      padding: 15px;
      border-radius: 15px;
    }

    &-info {
      margin: 0;
      font-size: 18px;
      line-height: 1.5;
    }
  }



  &-skills {
    margin-bottom: 50px;
    &-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0 10px;
      background: #fff;
      border-radius: 20px;
    }

    &-link {
      position: relative;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: $baseColor;
      width: 90px;
      height: 90px;
      padding-top: 60px;
      text-align: center;
      background: #fff;
      margin: 15px 5px;
      border-radius: 15px;
      box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
    }

  }

  &-portfolio {
    &-block {
      display: flex;
      padding: 10px;
      background: #fff;
      border-radius: 20px;
      align-items: center;
    }

    &-img {
      margin-right: 20px;
    }

    &-desc {
      font-size: 16px;
    }
  }
}