*,
*::after,
*::before {
  box-sizing: border-box;

}


body {
  font-size: 14px;
  font-family: $baseFont;
  color: $baseColor;
  background: rgba(204, 204, 204, 0.2);
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;

}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

h1,
h2,
h3,
h4,
ul {
  margin: 0;
  padding: 0;
}