$baseFont: 'Prompt',
sans-serif; //300, 500

$addFont: 'Kanit',
sans-serif; //100 500

$themeColor: rgb(130, 28, 186);
$baseColor: rgba(117, 114, 114, 0.782);


$pics: html,
css,
js,
vscode,
sass,
bootstrap,
react,
node,
typescript,
mongo,
figma,
tailwind,
mui,
jenkins,
psd;